<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangChen.Mapper.stuMapper">

	<select id="getClass" parameterType="integer" resultMap= "ClassResultMap">
        select * from class c, teacher t where c.teacher_id=t.t_id and c.c_id=1
    </select>

	<resultMap type= "com.zhangChen.Entity.c_class" id= "ClassResultMap">
		<id property= "id" column= "c_id" />
		<result property= "name" column= "c_name" />
		<association property= "teacher" column= "teacher_id" javaType= "com.zhangChen.Entity.Teacher">
			<id property= "id" column= "t_id" />
			<result property= "name" column= "t_name" />
		</association>
	</resultMap>
</mapper>